{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'section-test.css' | asset_url | stylesheet_tag }}

<script src="{{ 'react-component.js' | asset_url }}" defer="defer"></script>

<cart-items class="page-width{% if cart == empty %} is-empty{% endif %}" id="qb">

  <div class="title-wrapper-with-link">
    <h1 class="title title--primary">Quick Buy</h1>
  </div>

  <!-- NEW form Quick Buy -->
  <!-- find product by SKU -->
  <div class="wrapper_search">
    <input class="search_qb field__input" type="text" value="" placeholder="Search" autofocus>
    <div class="wrapper_select">
      <label for="select_qb">Select a product SKU</label>
      <select class="select__select select_qb" name="select_qb"
        onChange="myFunction(this.options[this.selectedIndex].value)">
        {% for product in collections['all'].products %}
        <option value="{{ product.variants.first.sku }}">SKU: {{ product.variants.first.sku }}</option>
        {% endfor %}
      </select>
    </div>
    <input class="button button--secondary" type="submit" id="btn_search_qb" name="add" value="Add product by SKU" />
  </div>

  <!-- take needing item product and insert to 'wrapper_prod' -->
  <div id="wrapper_temporary_item">
    {% for product in collections['all'].products %}
      <div class="{{ product.variants.first.sku }}" id="wrapper_product">
        <input class="{{ product.variants.first.sku }}" type="hidden" name="id[]" value="{{ product.variants[0].id }}">
        <p><b>Name of product: </b>{{ product.title }}</p>
        <img src="{{ product.variants.first.image | img_url: 'small' }}" alt="img" class="img-responsive" />
        <p><b>Description: </b>{{ product.description }}</p>
        <p><b>Price: </b>{{ product.price }}</p>
        <hr>
      </div>
    {% endfor %}
  </div><br>

  <!-- form which take item product and after submit send to cart -->
  <form id="add-item-form" action="/cart/add" method="post">
    <div class="wrapper_prod"></div>
    <input class="button" type="submit" id="add-to-cart" name="add" value="Add products to Cart" />
  </form><br>

</cart-items>

{% schema %}
{
"name": "t:sections.main-cart-items-quick_buy.name",
"settings": [
{
"type": "checkbox",
"id": "show_quick_buy",
"default": false,
"label": "t:sections.main-cart-items-quick_buy.settings.show_quick_buy.label"
}
]
}
{% endschema %}