<h2>New arrival</h2>

<p>Today is - "{{ "now" | date: "%b.%d.%Y" }}"</p>
<p>Count days is - 10</p>
<p>Last day when products added - "{{ 'now' | date: "%s" | minus: 900000 | date: "%b.%d.%Y" }}"</p>
<p> Last added product is - 
    {% for product in collections.new-arrival.products limit: 1 %}
        {{ product.published_at | date: "%b.%d.%Y" }}
    {% endfor %}
</p>
<!-- <p>Condition: if the last loaded product was in a ten-day period - show the last 10 products.</p>
<p>Condition: if the last loaded product is not within the ten-day period, show the text <i>'New arrivals soon'</i></p> -->


<ul class='wrapper-all-cart'>
    {% for product in collections.new-arrival.products limit: 5 %}

        {% capture now %}
            {{ "now" | date: "%b.%d.%Y" }}
        {% endcapture %}

        {% capture now_10 %}
            {{ 'now' | date: "%s" | minus: 900000 | date: "%b.%d.%Y" }}
        {% endcapture %}

        {% capture published_at %}
            {{ product.published_at | date: "%b.%d.%Y" }}
        {% endcapture %}

        {% if published_at > now_10 %}
            <li class="cart">
                <span class="budget_new">New product</span>
                <p>{{ product.title }}</p>
                <img src="{{ product | img_url: 'medium'  }}" alt="prod new arrive" loading="lazy" width="" height=""> 
                <p class="date_publish">{{ product.published_at | date: "%b.%d.%Y" }}</p>
            </li>

            {% elsif published_at < now_10 %}
                <li class="cart">
                    <span class="budget_old">Old product</span>
                    <p>{{ product.title }}</p>
                    <img class="img_filter" src="{{ product | img_url: 'medium'  }}" alt="prod new arrive" loading="lazy" width="" height="">
                    <p class="date_publish">{{ product.published_at | date: "%b.%d.%Y" }}</p>
                </li>
                
            {% else %}
                <li class="cart cart_soon">
                    <p class="text_soon">New arrivals soon</p>
                </li>
        {% endif %}
    {% endfor %}
</ul>


{% schema %}
    {
        "name": "t:sections.widget-new-arrivals.name",
        "class": "new_arrival",
        "settings": [
            {
                "type": "text",
                "id": "new_arrival",
                "label": "New arrival",
                "default": "New arrivals soon!"
            }
        ]
    }
{% endschema %}


{% javascript %}

//let date = new Date();
//var ten_days_ago = date - 1000 * 60 * 60 * 24 * 10;
//ten_days_ago = new Date(ten_days_ago);

//let today = document.querySelector('#today');
//today.innerHTML = `Today - ${moment().format('L')}`;

//let lastday = document.querySelector('#lastday');
//lastday.innerHTML = `Ten days ago - ${moment().subtract(10, 'days').calendar()}`;

{% endjavascript %}


{% stylesheet %}
    .wrapper-all-cart {
        display: flex;
        padding: 0;
    }
    .cart {
        width: 20%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: 5px;
        position: relative;
        padding-bottom: 3%;
    }
    .cart img {
        width: 100%;
        height: auto;
    }
    .cart span {
        color: grey;
        font-weight: 600;
        text-decoration: underline;
    }
    .cart span.budget_new {
        color: red;
    }
    .cart span.budget_old {
        color: grey;
    }
    .cart .date_publish {
        position: absolute;
        bottom: 0;
    }
    .cart img.img_filter {
        filter: opacity(25%);
    }
    .soon {
        text-align: center;
        text-decoration: underline;
    }
    .cart_soon {
        display: flex;
        justify-content: center;
    }
    .text_soon {
        color: grey;
    }
{% endstylesheet %}

